# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.next
.cache
# Build directory
public/
.DS_Store
yarn-error.log

# environment vars
.env
.env.development
.env.production

src/styles/style.scss
